body {
  background-color: #fffff2;
  font-family: Helvetica, Arial, sans-serif;
}
#nav-bar {
  /* div containing the navigation bar and the other elements at the top (first line)*/
  display: flex;
  justify-content: space-between;
}

#page_selection {
  background-color: black;
  color: #fffff2;
  border-spacing: 5px;
  width: 30%;
  justify-content: space-around;
}
#page_selection a {
  /* border: 1px solid #d4d4d4; */
  text-align: center;
  color: inherit;
  text-decoration: inherit;
}
#letterD {
  width: 2%;
  aspect-ratio: 1;
}


