body {
  background-color: #fffff2;
  font-family: Helvetica, Arial, sans-serif;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  display: grid;

}

#navigation {
  background-color: black;
  color: #fffff2;
  border-spacing: 5px;
  width: auto;
  height: 25px;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding: 30px;

}
#navigation a{
  color: inherit;
  text-decoration: inherit;
  margin-top: 5px;
}

.main{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.left-aside {
  grid-area: left-aside;
  background-color: #0f9d58;
  padding: 20px;
}

.main {
  grid-area: main;
  background-color: #4285f4;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  grid-area: banner;
  background-color: #db4437;
  padding: 20px;
  text-align: center;
}

.right-aside {
  grid-area: right-aside;
  background-color: #f4b400;
  padding: 20px;
}

.low-content {
  grid-area: low-content;
  background-color: #0f9d58;
  padding: 20px;
}

.footer {
  grid-area: footer;
  background-color: #4285f4;
  padding: 20px;
  text-align: center;
}
