.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #21222A;
    color: white;
}

.header-logo {
    width: 3.2rem;
}

.header-logo img {
    height: 2rem;
}